.container {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}